<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.tasks">

    <!-- **************** -->
    <!-- in-app donations -->
    <!-- **************** -->
    <uses-permission android:name="com.android.vending.BILLING" />

    <!-- **************** -->
    <!-- google task sync -->
    <!-- **************** -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH" />

    <application>

        <activity
            android:name=".activities.DonationActivity"
            android:theme="@style/Tasks.Dialog" />

    </application>

</manifest>
