.idea/workspace.xml
out/

*~
.DS_Store
.metadata
gen
local.properties
/release
/dev
lp-translations/
translations/strings.xml

coverage.em
astrid/src-combined
antbuild
greendroid/GDCatalog/.project

api/bin
astrid/bin
actionbarsherlock/library/bin
tests-sync/bin
