.kotlin
.idea
*.iml
.gradle
build/
*.apk
*.apks
*.aab
local.properties
Thumbs.db
/captures/
/fastlane/report.xml
/compose-metrics/
.DS_Store
.devenv*
result
tmp-android-sdk/
.devenv/
.devenv.lock
.android/
