*~
.DS_Store
.metadata
*.class
org.eclipse.ltk.core.refactoring.prefs
gen
local.properties
/release
/dev
lp-translations/
translations/strings.xml

astrid/coverage.em
astrid/src-combined
antbuild
greendroid/GDCatalog/.project

api/bin
astrid/bin
actionbarsherlock/library/bin
tests-sync/bin
