<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.timsu.astrid"
      android:versionCode="100"
      android:versionName="2.7.0">
      
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    
    <uses-sdk android:minSdkVersion="1" />
    
    <application android:icon="@drawable/icon" android:label="@string/app_name">
    
        <!-- Activity that displays the task list -->
        <activity android:name=".activities.TaskList">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Activity that redirects to a task list, invoked by notifications -->
        <activity android:name=".activities.TaskListNotify"
                  android:launchMode="singleTop" />
        
        <!--  Activity that creates or edits tasks -->
        <activity android:name=".activities.TaskEdit"
                android:icon="@drawable/icon_add"
        		android:label="@string/taskEdit_label">
        	<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </activity>

        <!--  Activity that views tags -->
        <activity android:name=".activities.TagView">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </activity>

        <!-- Activity that lets users edit app preferences -->
        <activity android:name=".activities.EditPreferences"/>
        
        <!-- Activity that les users edit synchronization preferences -->
        <activity android:name=".activities.SyncPreferences"/>

        <!-- Receivers -->
        
        <receiver android:name=".utilities.Notifications">
        </receiver>
        
        <receiver android:name=".utilities.StartupReceiver">
            <intent-filter>
                 <action android:name="android.intent.action.BOOT_COMPLETED" />
                 <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>

        <!-- Services -->

        <service android:name=".sync.SynchronizationService"/>

    </application>    
        
</manifest> 
