<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.timsu.astrid"
      android:versionCode="6"
      android:versionName="1.7">
      
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    
    <application android:icon="@drawable/icon" android:label="@string/app_name">
    
        <activity android:name=".activities.TaskList"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".activities.TaskView"/>
        
        <activity android:name=".activities.TaskEdit"/>
        
        <activity android:name=".activities.TagList"/>
        
        <receiver android:name=".utilities.Notifications">
            <intent-filter>
                 <action android:name="android.intent.action.BOOT_COMPLETED" />
                 <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>

    </application>    
        
</manifest> 