<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">

  <application tools:ignore="GoogleAppIndexingWarning">

    <activity
      android:name="net.openid.appauth.RedirectUriReceiverActivity"
      tools:node="replace">
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>
        <data android:scheme="com.googleusercontent.apps.363426363175-rg39b1q2302l6mlkup40l4d6ids4osiv" />
      </intent-filter>
    </activity>

  </application>

</manifest>
