<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.timsu.astrid"
          android:versionName="3.0.0-beta2" android:versionCode="137">
      
  <!-- ================================================== Used Permissions = -->
      
  <!-- for notifications -->
  <uses-permission android:name="android.permission.VIBRATE"/>
  <!-- for synchronization -->
  <uses-permission android:name="android.permission.INTERNET"/>
  <!-- for google calendar integration -->
  <uses-permission android:name="android.permission.WRITE_CALENDAR" />
  <uses-permission android:name="android.permission.READ_CALENDAR" />
  <!-- for creating shortcuts -->
  <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
  <!-- for backup -->
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />    
  <!-- for analytics -->
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

  <!-- ============================================== Exported Permissions = -->

  <!-- for tasks provider -->
  <permission android:name="com.timsu.astrid.permission.READ_TASKS"
              android:permissionGroup="android.permission-group.MESSAGES"
              android:protectionLevel="normal"
              android:label="@string/read_tasks_permission"
              android:description="@string/read_tasks_permission"/>
  <uses-permission android:name="com.timsu.astrid.permission.READ_TASKS"/>
  
  <!-- for reading data from plugins or astrid -->
  <permission android:name="com.todoroo.astrid.READ"
              android:description="@string/read_permission_desc"
              android:protectionLevel="normal"
              android:label="@string/read_permission_label" />
  <uses-permission android:name="com.todoroo.astrid.READ" />
  
  <!-- for writing data to plugins or astrid -->
  <permission android:name="com.todoroo.astrid.WRITE"
              android:description="@string/write_permission_desc"
              android:protectionLevel="normal"
              android:label="@string/write_permission_label" />
  <uses-permission android:name="com.todoroo.astrid.WRITE" />
  
  <!-- ========================================================== Metadata = -->

  <uses-sdk android:targetSdkVersion="4"
            android:minSdkVersion="3" />
  <supports-screens />
  
  <application android:icon="@drawable/icon" 
               android:label="@string/app_name">
               <!-- android:installLocation="auto"> -->
    
    <!-- ====================================================== Activities = -->
        
    <!-- Activity that displays task list -->
    <activity android:name="com.todoroo.astrid.activity.TaskListActivity"
              android:windowSoftInputMode="stateHidden"
              android:theme="@style/Theme">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>
    <!-- Activity launched from shortcut -->
    <activity android:name="com.todoroo.astrid.activity.ShortcutActivity"
              android:clearTaskOnLaunch="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>
    <!-- Activity that displays filter list -->
    <activity android:name="com.todoroo.astrid.activity.FilterListActivity"
              android:theme="@style/Theme">
      <intent-filter>
        <action android:name="android.intent.action.SEARCH" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
      <meta-data android:name="android.app.searchable" 
                 android:resource="@xml/filter_list_searchable" />
    </activity>
    <!-- Activity that creates or edits tasks -->
    <activity android:name="com.todoroo.astrid.activity.TaskEditActivity"
              android:windowSoftInputMode="stateHidden"
              android:label="@string/taskEdit_label">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>      
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="vnd.android.cursor.item/task" />
      </intent-filter>      
    </activity>    
    <!-- Activity that lets users log in to sync providers -->
    <activity android:name=".activities.SyncLoginActivity"/>    
    <!-- Activity that lets users edit app preferences -->
    <activity android:name="com.todoroo.astrid.activity.EditPreferences"/>    
    <!-- Activity that lets users edit synchronization preferences -->
    <activity android:name=".activities.SyncPreferences"/>    
    <!-- Activity that Locale displays to edit tag notification settings -->
    <activity android:name=".activities.LocaleEditAlerts"
              android:label="@string/locale_edit_alerts_title"
              android:icon="@drawable/icon_32"
              android:exported="true" >
      <intent-filter>
        <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
      </intent-filter>
    </activity>

    <!-- ======================================================= Receivers = -->

    <receiver android:name="com.todoroo.astrid.reminders.Notifications" />
    
    <receiver android:name=".utilities.LocaleReceiver">
      <intent-filter>
        <action android:name="com.timsu.astrid.action.LOCALE_ALERT" />
      </intent-filter>
    </receiver>

    <receiver android:name="com.todoroo.astrid.widget.TasksWidget">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
      </intent-filter>
      <meta-data android:name="android.appwidget.provider"
                 android:resource="@xml/widget_provider_info" />
    </receiver>

    <!-- ======================================================== Services = -->

    <service android:name="com.todoroo.astrid.widget.TasksWidget$UpdateService" />
    <service android:name=".utilities.BackupService"/>

    <!-- ======================================================= Providers = -->

    <provider android:name=".provider.TasksProvider"
              android:authorities="com.timsu.astrid.tasksprovider"
              android:multiprocess="true"
              android:grantUriPermissions="true"
              android:readPermission="com.timsu.astrid.permission.READ_TASKS"/>

    <!-- ========================================================= Plugins = -->
        
    <!-- core -->
    <receiver android:name="com.todoroo.astrid.core.CorePlugin">
      <intent-filter>
        <action android:name="com.todoroo.astrid.REQUEST_ADDONS" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </receiver>    
    <receiver android:name="com.todoroo.astrid.core.CoreFilterExposer">
      <intent-filter>
        <action android:name="com.todoroo.astrid.REQUEST_FILTERS" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </receiver>
    <activity android:name="com.todoroo.astrid.core.DefaultsPreferences" 
              android:label="@string/EPr_defaults_header">
      <intent-filter>
        <action android:name="com.todoroo.astrid.SETTINGS" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>
        
    <!-- tags -->
    <receiver android:name="com.todoroo.astrid.tags.TagsPlugin">
      <intent-filter>
        <action android:name="com.todoroo.astrid.REQUEST_ADDONS" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </receiver>    
    <receiver android:name="com.todoroo.astrid.tags.TagFilterExposer">
      <intent-filter>
        <action android:name="com.todoroo.astrid.REQUEST_FILTERS" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </receiver>    
        
    <!-- repeats -->
    <receiver android:name="com.todoroo.astrid.repeats.RepeatsPlugin">
      <intent-filter>
        <action android:name="com.todoroo.astrid.REQUEST_ADDONS" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </receiver>    
    <receiver android:name="com.todoroo.astrid.repeats.RepeatTaskCompleteListener">
      <intent-filter>
        <action android:name="com.todoroo.astrid.TASK_COMPLETED" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </receiver>
    
    <!-- calendar -->
    <receiver android:name="com.todoroo.astrid.gcal.GCalTaskCompleteListener">
      <intent-filter>
        <action android:name="com.todoroo.astrid.TASK_COMPLETED" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </receiver>    
    
    <!-- notes -->
    
    <!-- timers -->
    <receiver android:name="com.todoroo.astrid.timers.TimerDecorationExposer">
      <intent-filter>
        <action android:name="com.todoroo.astrid.REQUEST_DECORATIONS" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </receiver>
    <receiver android:name="com.todoroo.astrid.timers.TimerActionExposer">
      <intent-filter>
        <action android:name="com.todoroo.astrid.REQUEST_ACTIONS" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </receiver>

    <!-- reminders -->        
    <activity android:name="com.todoroo.astrid.reminders.ReminderPreferences" 
              android:label="@string/rmd_EPr_alerts_header">
      <intent-filter>
        <action android:name="com.todoroo.astrid.SETTINGS" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>
    <receiver android:name="com.todoroo.astrid.reminders.ReminderStartupService">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </receiver>
    <activity android:name="com.todoroo.astrid.reminders.NotificationActivity"
              android:taskAffinity="" />

    <!-- rmilk -->
    <receiver android:name="com.todoroo.astrid.rmilk.MilkFilterExposer">
      <intent-filter>
        <action android:name="com.todoroo.astrid.REQUEST_FILTERS" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </receiver>
    <activity android:name="com.todoroo.astrid.rmilk.MilkLoginActivity"
              android:theme="@style/Theme" />
    <activity android:name="com.todoroo.astrid.rmilk.MilkPreferences"
              android:icon="@drawable/ic_menu_rmilk"
              android:label="@string/rmilk_MPr_header">
      <intent-filter>   
        <action android:name="com.todoroo.astrid.TASK_LIST_MENU" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
      </intent-filter>
    </activity>

  </application>

</manifest>
