<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="org.tasks">

  <application tools:ignore="GoogleAppIndexingWarning">

    <meta-data
      android:name="com.google.android.geo.API_KEY"
      android:value="@string/google_key"/>

    <meta-data
      android:name="com.google.android.backup.api_key"
      android:value="AEdPqrEAAAAI49v5bBusi_bq1bgLBB1LIsepNV0eBrFkQrBZkw"/>

    <meta-data
      android:name="com.google.android.gms.version"
      android:value="@integer/google_play_services_version"/>

    <service android:name=".location.GeofenceTransitionsIntentService"/>
  </application>

</manifest>
