<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="org.tasks">

  <!-- ************************ -->
  <!-- location based reminders -->
  <!-- ************************ -->
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
  <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>

  <uses-feature
    android:name="android.hardware.location"
    android:required="false"/>
  <uses-feature
    android:name="android.hardware.location.gps"
    android:required="false"/>

  <!-- **************** -->
  <!-- google task sync -->
  <!-- **************** -->
  <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH"/>
  <uses-permission android:name="android.permission.GET_ACCOUNTS"/>

  <application tools:ignore="GoogleAppIndexingWarning">

    <meta-data
      android:name="firebase_crashlytics_collection_enabled"
      android:value="false"/>

    <meta-data
      android:name="com.google.android.backup.api_key"
      android:value="AEdPqrEAAAAI49v5bBusi_bq1bgLBB1LIsepNV0eBrFkQrBZkw"/>

    <meta-data
      android:name="com.google.android.gms.version"
      android:value="@integer/google_play_services_version"/>

    <meta-data
      android:name="com.google.android.geo.API_KEY"
      android:value="AIzaSyBq82FiK4U8Ke2TV_F8UjDZwgtSy8K9cyQ"/>

    <service android:name=".location.GeofenceTransitionsIntentService"/>

    <activity android:name=".activities.GoogleTaskListSettingsActivity"/>

    <activity
      android:name="com.todoroo.astrid.gtasks.auth.GtasksLoginActivity"
      android:theme="@style/TranslucentDialog"/>
  </application>

</manifest>
