<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">

  <application tools:ignore="GoogleAppIndexingWarning">

    <meta-data
      android:name="com.google.android.geo.API_KEY"
      android:value="@string/google_key" />

    <meta-data
      android:name="com.google.android.gms.version"
      android:value="@integer/google_play_services_version"/>


    <receiver android:name=".location.GoogleGeofenceTransitionIntentService$Broadcast"/>
    <service
      android:exported="false"
      android:name=".location.GoogleGeofenceTransitionIntentService"
      android:permission="android.permission.BIND_JOB_SERVICE"/>

    <service
        android:name=".wear.WearDataService"
        android:exported="true"
        tools:ignore="ExportedService">
      <intent-filter>
        <action android:name="com.google.android.gms.wearable.REQUEST_RECEIVED" />
        <data
            android:host="*"
            android:pathPrefix="/grpc/"
            android:scheme="wear" />
      </intent-filter>
    </service>

    <!-- Listener service for sync data from Wear -->
    <service
        android:name=".wear.WearSyncListenerService"
        android:exported="true"
        tools:ignore="ExportedService">
      <intent-filter>
        <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />
        <data
            android:host="*"
            android:pathPrefix="/outbox/watch/"
            android:scheme="wear" />
        <data
            android:host="*"
            android:pathPrefix="/sync/request"
            android:scheme="wear" />
        <data
            android:host="*"
            android:pathPrefix="/ack/phone/"
            android:scheme="wear" />
      </intent-filter>
    </service>

    <activity
        android:name="com.microsoft.identity.client.BrowserTabActivity"
        android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data
            android:host="${applicationId}"
            android:path="@string/microsoft_oauth_path"
            android:scheme="msauth" />
      </intent-filter>
    </activity>

  </application>

</manifest>
