<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.tasks">


    <uses-sdk tools:overrideLibrary="timber.log"/>

    <!-- ================================================== Used Permissions = -->

    <!-- ************* -->
    <!-- notifications -->
    <!-- ************* -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- *************************** -->
    <!-- google calendar integration -->
    <!-- *************************** -->
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />

    <!-- ****************** -->
    <!-- creating shortcuts -->
    <!-- ****************** -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <!-- **************************************** -->
    <!-- write backups and attachments to storage -->
    <!-- **************************************** -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- ********************* -->
    <!-- missed call reminders -->
    <!-- ********************* -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- ******************************************* -->
    <!-- scheduling reminders after rebooting device -->
    <!-- ******************************************* -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- ********************* -->
    <!-- recording voice notes -->
    <!-- ********************* -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-feature android:name="android.hardware.microphone" android:required="false" />

    <!-- ============================================== Exported Permissions = -->

    <!-- for v2 tasks provider -->
    <permission
        android:name="org.tasks.permission.READ_TASKS"
        android:permissionGroup="android.permission-group.MESSAGES"
        android:protectionLevel="normal"
        android:label="@string/read_permission_label"
        android:description="@string/read_permission_desc" />

    <uses-permission android:name="org.tasks.permission.READ_TASKS" />

    <!-- for reading data from add-ons or astrid via v3 content provider -->
    <permission
        android:name="org.tasks.READ"
        android:description="@string/read_permission_desc"
        android:protectionLevel="normal"
        android:label="@string/read_permission_label" />

    <uses-permission android:name="org.tasks.READ" />

    <!-- for writing data to add-ons or astrid via v3 content provider -->
    <permission
        android:name="org.tasks.WRITE"
        android:description="@string/write_permission_desc"
        android:protectionLevel="normal"
        android:label="@string/write_permission_label" />

    <uses-permission android:name="org.tasks.WRITE" />

    <!-- ========================================================== Metadata = -->

    <supports-screens
        android:xlargeScreens="true"
        android:largeScreens="true" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/BlueGrey"
        android:allowBackup="true"
        android:name=".Tasks"
        android:manageSpaceActivity="com.todoroo.astrid.core.OldTaskPreferences">

        <!-- ====================================================== Activities = -->

        <activity
            android:name=".activities.DatePickerActivity"
            android:theme="@style/TranslucentDialog" />

        <activity
            android:name=".activities.TimePickerActivity"
            android:theme="@style/TranslucentDialog" />

        <activity
            android:name=".activities.DateAndTimePickerActivity"
            android:theme="@style/TranslucentDialog"
            android:taskAffinity="" />

        <activity
            android:name=".activities.SortActivity"
            android:theme="@style/TranslucentDialog" />

        <activity
            android:name=".activities.FilterSelectionActivity"
            android:exported="true"
            android:theme="@style/TranslucentDialog" />

        <activity
            android:name=".activities.AddAttachmentActivity"
            android:theme="@style/TranslucentDialog" />

        <activity
            android:name=".activities.CameraActivity"
            android:theme="@style/TranslucentDialog" />

        <!-- Activity that displays task list -->
        <activity
            android:name="com.todoroo.astrid.activity.TaskListActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.todoroo.astrid.activity.TaskEditActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/task" />
            </intent-filter>
        </activity>

        <!-- Activity for selecting Android shortcut -->
        <activity
            android:name=".widget.ShortcutConfigActivity"
            android:theme="@style/TranslucentDialog">
            android:label="@string/FSA_label">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Activity launched from ShareLink menu item -->
        <!-- TODO: clearTaskOnLaunch probable cause of #275 -->
        <activity
            android:name="com.todoroo.astrid.activity.ShareLinkActivity"
            android:clearTaskOnLaunch="true">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <!-- Activity for preferences -->

        <activity
            android:name=".preferences.HelpAndFeedbackActivity"
            android:label="@string/help_and_feedback"
            android:theme="@style/BlueGrey" />

        <activity
            android:name=".preferences.BasicPreferences"
            android:label="@string/TLA_menu_settings"
            android:theme="@style/BlueGrey" />

        <activity
            android:name=".preferences.MiscellaneousPreferences"
            android:label="@string/miscellaneous"
            android:theme="@style/BlueGrey" />

        <activity
            android:name=".preferences.BackupPreferences"
            android:label="@string/backup_BPr_header"
            android:theme="@style/BlueGrey" />

        <!-- Activity that configures widget -->
        <activity
            android:name=".widget.WidgetConfigActivity"
            android:theme="@style/TranslucentDialog">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.todoroo.astrid.service.UpgradeActivity"
            android:screenOrientation="portrait" />

        <!-- ======================================================= Receivers = -->

        <receiver android:name=".receivers.TaskNotificationReceiver" />

        <receiver
            android:name=".receivers.ListNotificationReceiver"
            android:exported="true" />

        <receiver android:name=".receivers.RefreshReceiver" />

        <!-- widgets -->
        <receiver
            android:name=".widget.TasksWidget"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.todoroo.astrid.widget.TasksWidget.COMPLETE_TASK"/>
                <action android:name="com.todoroo.astrid.widget.TasksWidget.EDIT_TASK"/>
                <action android:name="org.tasks.REFRESH"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/scrollable_widget_provider_info" />
        </receiver>

        <receiver android:name="com.todoroo.astrid.calls.PhoneStateChangedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>

        <!-- ======================================================== Services = -->

        <service
            android:name=".widget.ScrollableWidgetUpdateService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>

        <!-- ======================================================= Providers = -->

        <provider
            android:name="com.todoroo.astrid.provider.Astrid2TaskProvider"
            android:authorities="org.tasks.tasksprovider"
            android:exported="true"
            android:multiprocess="true"
            android:grantUriPermissions="true"
            android:readPermission="org.tasks.permission.READ_TASKS" />

        <provider
            android:name="com.todoroo.astrid.provider.Astrid3ContentProvider"
            android:authorities="org.tasks"
            android:exported="true"
            android:multiprocess="true"
            android:grantUriPermissions="true"
            android:readPermission="org.tasks.READ"
            android:writePermission="org.tasks.WRITE" />

        <provider
            android:name="com.todoroo.astrid.provider.SqlContentProvider"
            android:authorities="org.tasks.private"
            android:exported="true"
            android:multiprocess="true"
            android:grantUriPermissions="true"
            android:readPermission="org.tasks.READ"
            android:writePermission="org.tasks.WRITE" />

        <!-- ========================================================= Plugins = -->

        <activity
            android:name=".preferences.AppearancePreferences"
            android:label="@string/EPr_appearance_header"
            android:theme="@style/BlueGrey" />

        <activity
            android:name=".preferences.DateShortcutPreferences"
            android:label="@string/date_shortcuts"
            android:theme="@style/BlueGrey" />

        <activity
            android:name="com.todoroo.astrid.core.DefaultsPreferences"
            android:label="@string/task_defaults"
            android:theme="@style/BlueGrey"/>

        <activity
            android:name="com.todoroo.astrid.activity.BeastModePreferences"
            android:theme="@style/BlueGrey"/>

        <activity
            android:name=".reminders.MissedCallActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:theme="@style/TranslucentDialog" />

        <activity
            android:name=".reminders.SnoozeActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:theme="@style/TranslucentDialog" />

        <activity
            android:name=".reminders.NotificationActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:theme="@style/TranslucentDialog" />

        <!-- tags -->

        <!-- custom filters -->
        <activity
            android:name="com.todoroo.astrid.core.CustomFilterActivity"
            android:theme="@style/BlueGrey"/>

        <!-- alarms -->
        <receiver android:name="com.todoroo.astrid.alarms.AlarmTaskRepeatListener">
            <intent-filter>
                <action android:name="org.tasks.TASK_REPEATED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <!-- actfm -->

        <activity
            android:name="com.todoroo.astrid.actfm.TagSettingsActivity"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="com.todoroo.astrid.actfm.FilterSettingsActivity"
            android:windowSoftInputMode="stateHidden" />

        <!-- repeats -->

        <receiver android:name="com.todoroo.astrid.repeats.RepeatTaskCompleteListener">
            <intent-filter android:priority="1">
                <action android:name="org.tasks.TASK_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <!-- calendar -->
        <receiver android:name="com.todoroo.astrid.gcal.GCalTaskCompleteListener">
            <intent-filter android:priority="2">
                <action android:name="org.tasks.TASK_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activities.CalendarSelectionActivity"
            android:theme="@style/TranslucentDialog" />

        <activity
            android:name="com.todoroo.astrid.gcal.CalendarReminderActivity"
            android:theme="@style/BlueGreyDialog"/>

        <receiver android:name="com.todoroo.astrid.gcal.CalendarAlarmReceiver" />

        <!-- old tasks -->
        <activity
            android:name="com.todoroo.astrid.core.OldTaskPreferences"
            android:label="@string/EPr_manage_header"
            android:theme="@style/BlueGrey"/>

        <activity
            android:name=".activities.ClearAllDataActivity"
            android:theme="@style/TranslucentDialog" />
        <activity
            android:name=".activities.ResetPreferencesActivity"
            android:theme="@style/TranslucentDialog" />
        <activity
            android:name=".activities.PurgeDeletedActivity"
            android:theme="@style/TranslucentDialog" />
        <activity
            android:name=".activities.DeleteCompletedActivity"
            android:theme="@style/TranslucentDialog" />
        <activity
            android:name=".activities.DeleteCompletedEventsActivity"
            android:theme="@style/TranslucentDialog" />
        <activity
            android:name=".activities.DeleteAllCalendarEventsActivity"
            android:theme="@style/TranslucentDialog" />

        <!-- backup -->

        <activity
            android:name="org.tasks.activities.ExportTaskActivity"
            android:theme="@style/TranslucentDialog" />
        <activity
            android:name="org.tasks.activities.ImportTaskActivity"
            android:theme="@style/TranslucentDialog" />

        <!-- premium -->
        <activity
            android:name="com.todoroo.astrid.files.AACRecordingActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/BlueGreyDialog" />

        <activity
            android:name=".files.MyFilePickerActivity"
            android:label="@string/app_name"
            android:theme="@style/FilePickerTheme">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".files.FileExplore"
            android:theme="@style/TranslucentDialog"/>

        <receiver android:name="com.todoroo.astrid.timers.TimerTaskCompleteListener">
            <intent-filter>
                <action android:name="org.tasks.TASK_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <!-- reminders -->
        <activity
            android:name="com.todoroo.astrid.reminders.ReminderPreferences"
            android:label="@string/notifications"
            android:theme="@style/BlueGrey"/>

        <activity
            android:name=".voice.VoiceCommandActivity"
            android:theme="@style/TranslucentDialog">
            <intent-filter>
                <action android:name="com.google.android.gm.action.AUTO_SEND"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>

        <receiver android:name=".receivers.BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receivers.FirstLaunchReceiver"/>
        <receiver android:name=".receivers.CompleteTaskReceiver"/>

        <receiver android:name=".receivers.MyPackageReplacedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".scheduling.GeofenceSchedulingIntentService"
            android:exported="false" />
        <service
            android:name=".scheduling.BackupIntentService"
            android:exported="false" />
        <service
            android:name=".scheduling.RefreshSchedulerIntentService"
            android:exported="false" />
        <service
            android:name=".scheduling.ReminderSchedulerIntentService"
            android:exported="false" />
        <service
            android:name=".scheduling.CalendarNotificationIntentService"
            android:exported="false" />

        <!-- Uses Library -->
        <uses-library
            android:name="com.google.android.maps"
            android:required="false" />

    </application>

</manifest>
