<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="internalOnly">

  <!-- ================================================== Used Permissions = -->

  <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

  <!-- ********************* -->
  <!-- maps and place search -->
  <!-- ********************* -->
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

  <!-- ************************ -->
  <!-- location based reminders -->
  <!-- ************************ -->
  <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
  <uses-feature
    android:name="android.hardware.location"
    android:required="false"/>
  <uses-feature
    android:name="android.hardware.location.gps"
    android:required="false"/>

  <!-- ************* -->
  <!-- notifications -->
  <!-- ************* -->
  <uses-permission android:name="android.permission.VIBRATE"/>
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission
      android:name="android.permission.SCHEDULE_EXACT_ALARM"
      tools:ignore="ProtectedPermissions" />

  <!-- *************************** -->
  <!-- google calendar integration -->
  <!-- *************************** -->
  <uses-permission android:name="android.permission.WRITE_CALENDAR"/>
  <uses-permission android:name="android.permission.READ_CALENDAR"/>

  <!-- ****************** -->
  <!-- creating shortcuts -->
  <!-- ****************** -->
  <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>

  <!-- ******************************************* -->
  <!-- scheduling reminders after rebooting device -->
  <!-- ******************************************* -->
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

  <!-- *********************************** -->
  <!-- keep device awake for notifications -->
  <!-- *********************************** -->
  <uses-permission android:name="android.permission.WAKE_LOCK"/>

  <!-- ******************************************************* -->
  <!-- google task/etesync/caldav sync and google drive upload -->
  <!-- ******************************************************* -->
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

  <!-- **************************************** -->
  <!-- google task sync and google drive upload -->
  <!-- **************************************** -->
  <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
  <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH"/>

  <!-- ****************************** -->
  <!-- Check DAVx5/EteSync sync state -->
  <!-- ****************************** -->
  <uses-permission android:name="android.permission.READ_SYNC_STATS" />

  <!-- ******************************** -->
  <!-- Microsoft Authentication Library -->
  <!-- ******************************** -->

  <uses-permission android:name="android.permission.GET_ACCOUNTS" tools:node="remove" />
  <uses-feature
      android:name="android.hardware.nfc"
      android:required="false" />
  <uses-feature
      android:name="android.hardware.usb.host"
      android:required="false" />

  <!-- ****************************************** -->
  <!-- Exclude OpenTasks and jtxBoard permissions -->
  <!-- ****************************************** -->
  <uses-permission android:name="org.dmfs.permission.READ_TASKS" tools:node="remove"/>
  <uses-permission android:name="org.dmfs.permission.WRITE_TASKS" tools:node="remove"/>
  <permission-group android:name="org.dmfs.tasks.permissiongroup.Tasks" tools:node="remove"/>
  <permission android:name="org.dmfs.permission.READ_TASKS" tools:node="remove"/>
  <permission android:name="org.dmfs.permission.WRITE_TASKS" tools:node="remove"/>
  <uses-permission
      android:name="${applicationId}.permission.READ_TASKS"
      tools:ignore="SystemPermissionTypo"
      tools:node="remove" />
  <uses-permission
      android:name="${applicationId}.permission.WRITE_TASKS"
      tools:node="remove" />
  <uses-permission android:name="at.techbee.jtx.permission.READ" tools:node="remove" />
  <uses-permission android:name="at.techbee.jtx.permission.WRITE" tools:node="remove" />

  <!-- ============================================== Exported Permissions = -->

  <queries>
    <intent>
      <action android:name="android.speech.action.RECOGNIZE_SPEECH"/>
    </intent>
  </queries>

  <permission-tree
    android:icon="@drawable/ic_check_white_24dp"
    android:label="@string/app_name"
    android:name="${applicationId}.permission" />

  <permission-group
    android:description="@string/read_permission_label"
    android:icon="@drawable/ic_check_white_24dp"
    android:label="@string/app_name"
    android:name="${applicationId}.permission-group" />

  <permission
    android:description="@string/permission_read_tasks"
    android:label="@string/read_permission_label"
    android:name="${applicationId}.permission.READ_TASKS"
    android:permissionGroup="${applicationId}.permission-group"
    android:protectionLevel="dangerous"/>

  <permission
    android:description="@string/permission_read_tasks"
    android:label="@string/read_permission_label"
    android:name="${applicationId}.permission.WRITE_TASKS"
    android:permissionGroup="${applicationId}.permission-group"
    android:protectionLevel="dangerous"/>

  <!-- ========================================================== Metadata = -->

  <supports-screens
    android:largeScreens="true"
    android:xlargeScreens="true"/>

  <uses-feature
    android:name="android.hardware.touchscreen"
    android:required="false"/>

  <queries>
    <intent>
      <action android:name="android.intent.action.VIEW" />
      <category android:name="android.intent.category.BROWSABLE" />
      <data android:scheme="https" />
    </intent>
    <intent>
      <action android:name="android.intent.action.VIEW" />
      <category android:name="android.intent.category.APP_BROWSER" />
      <data android:scheme="https" />
    </intent>
  </queries>

  <application
    android:allowBackup="true"
    android:backupAgent="org.tasks.backup.TasksBackupAgent"
    android:backupInForeground="true"
    android:fullBackupOnly="false"
    android:icon="@mipmap/ic_launcher_blue"
    android:label="@string/app_name"
    android:name=".TasksApplication"
    android:roundIcon="@mipmap/ic_launcher_blue"
    android:supportsRtl="true"
    android:theme="@style/Tasks"
    tools:ignore="GoogleAppIndexingWarning,UnusedAttribute"
    android:preserveLegacyExternalStorage="true"
    android:hasFragileUserData="true"
    android:localeConfig="@xml/locales_config">

    <activity
      android:name="net.openid.appauth.RedirectUriReceiverActivity"
      android:exported="true"
      tools:node="replace">
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>
        <data android:scheme="@string/google_oauth_scheme" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>
        <data android:scheme="org.tasks.github.a50fdbf3e289a7fb2fc6" />
      </intent-filter>
    </activity>

    <activity
      android:name=".auth.SignInActivity"
      android:theme="@style/TranslucentDialog"
      android:windowSoftInputMode="stateHidden" >
    </activity>

    <meta-data
      android:name="com.google.android.backup.api_key"
      android:value="@string/backup_api_key" />

    <!-- ====================================================== Activities = -->

    <activity
      android:name=".activities.DateAndTimePickerActivity"
      android:taskAffinity=""
      android:theme="@style/TranslucentDialog"/>

    <activity
        android:name=".location.LocationPickerActivity"
        android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />

    <activity
      android:exported="true"
      android:excludeFromRecents="true"
      android:name=".compose.FilterSelectionActivity"
      android:taskAffinity=""
      android:theme="@style/TranslucentDialog"/>

    <activity
        android:name=".compose.IconPickerActivity"
        android:excludeFromRecents="true"
        android:exported="true"
        android:taskAffinity=""
        android:theme="@style/TranslucentDialog" />

    <activity
      android:name=".activities.CameraActivity"
      android:theme="@style/TranslucentDialog"/>

    <activity
        android:name=".activities.UriHandler"
        android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <data
          android:scheme="content"
          android:host="${applicationId}" />
      </intent-filter>
      <intent-filter tools:ignore="AppLinkUrlError">
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <data android:mimeType="vnd.android.cursor.item/task"/>
      </intent-filter>
    </activity>

    <!-- Activity for selecting Android shortcut -->
    <activity
      android:label="@string/FSA_label"
      android:name=".widget.ShortcutConfigActivity"
      android:exported="true"
      android:theme="@style/Tasks">
      <intent-filter>
        <action android:name="android.intent.action.CREATE_SHORTCUT"/>
        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>

    <!-- Activity launched from ShareLink menu item -->
    <!-- TODO: clearTaskOnLaunch probable cause of #275 -->
    <activity
      android:icon="@mipmap/ic_launcher_blue"
      android:label="@string/action_create_new_task"
      android:name="com.todoroo.astrid.activity.ShareLinkActivity"
      android:taskAffinity=":share"
      android:excludeFromRecents="true"
      android:exported="true"
      android:roundIcon="@mipmap/ic_launcher_blue">
      <intent-filter>
        <action android:name="android.intent.action.PROCESS_TEXT"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <data android:mimeType="text/plain"/>
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.SEND"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <data android:mimeType="text/plain" />
        <data android:mimeType="image/*" />
        <data android:mimeType="audio/*" />
        <data android:mimeType="video/*"/>
        <data android:mimeType="application/*" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.SEND_MULTIPLE"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <data android:mimeType="image/*" />
      </intent-filter>
    </activity>

    <!-- Activity for preferences -->

    <activity
      android:excludeFromRecents="true"
      android:exported="true"
      android:label="@string/widget_settings"
      android:name=".widget.WidgetConfigActivity"
      android:taskAffinity=""
      android:theme="@style/Tasks">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
      </intent-filter>
    </activity>

    <activity
        android:name=".billing.PurchaseActivity"
        android:theme="@style/Tasks" />

    <!-- ======================================================= Receivers = -->

    <!-- widgets -->
    <receiver
      android:label="@string/app_name"
      android:name=".widget.TasksWidget"
      android:exported="true">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
      </intent-filter>

      <meta-data
        android:name="android.appwidget.provider"
        android:resource="@xml/scrollable_widget_provider_info"/>
      <meta-data
          android:name="com.samsung.android.appwidget.provider"
          android:resource="@xml/samsung_scrollable_flex_window_widget_meta_info"/>
    </receiver>

    <receiver
        android:name=".widget.RequestPinWidgetReceiver"
        android:exported="false">
      <intent-filter>
        <action android:name="org.tasks.CONFIGURE_WIDGET" />
      </intent-filter>
    </receiver>

    <!-- ======================================================== Services = -->

    <service
      android:name=".widget.TasksWidgetAdapter"
      android:permission="android.permission.BIND_REMOTEVIEWS"/>

    <service
        android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
        android:enabled="false"
        android:exported="false">
      <meta-data
          android:name="autoStoreLocales"
          android:value="true" />
    </service>

    <!-- ======================================================= Providers = -->

    <provider
        android:name="androidx.startup.InitializationProvider"
        android:authorities="${applicationId}.androidx-startup"
        android:exported="false"
        tools:node="merge">
      <meta-data
          android:name="androidx.work.WorkManagerInitializer"
          android:value="androidx.startup"
          tools:node="remove" />
    </provider>

    <provider
      android:authorities="${applicationId}.tasksprovider"
      android:exported="true"
      android:name="com.todoroo.astrid.provider.Astrid2TaskProvider"
      android:readPermission="${applicationId}.permission.READ_TASKS"/>

    <provider
      android:authorities="${applicationId}"
      android:exported="true"
      android:name="org.tasks.provider.TasksContentProvider"
      android:readPermission="${applicationId}.permission.READ_TASKS"/>

    <provider
      android:authorities="${applicationId}.file_provider"
      android:exported="false"
      android:grantUriPermissions="true"
      android:name="androidx.core.content.FileProvider">
      <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/file_provider_paths"/>
    </provider>

    <receiver
      android:name="org.dmfs.provider.tasks.TaskProviderBroadcastReceiver"
      tools:node="remove"/>

    <provider
      android:name="org.dmfs.provider.tasks.TaskProvider"
      android:authorities="org.dmfs.tasks"
      tools:node="remove" />

    <provider
      android:name="org.dmfs.provider.tasks.TaskProvider"
      android:authorities="${applicationId}.opentasks"
      android:exported="true"
      android:multiprocess="false"
      android:readPermission="${applicationId}.permission.READ_TASKS"
      android:writePermission="${applicationId}.permission.WRITE_TASKS"/>

    <!-- ========================================================= Plugins = -->

    <activity
      android:name="com.todoroo.astrid.activity.BeastModePreferences"
      android:theme="@style/Tasks"/>

    <activity
      android:excludeFromRecents="true"
      android:name=".reminders.SnoozeActivity"
      android:taskAffinity=":snooze"
      android:theme="@style/TranslucentDialog"/>

    <activity
      android:excludeFromRecents="true"
      android:name=".reminders.NotificationActivity"
      android:taskAffinity=":notification"
      android:theme="@style/TranslucentDialog"/>

    <activity android:name=".activities.NavigationDrawerCustomization" />

    <activity android:name=".activities.TagSettingsActivity"/>

    <activity android:name=".activities.FilterSettingsActivity"/>

    <activity
      android:name=".caldav.CaldavAccountSettingsActivity"
      android:theme="@style/Tasks"/>

    <activity
        android:name=".caldav.LocalAccountSettingsActivity"
        android:theme="@style/Tasks" />

    <activity
      android:name=".etebase.EtebaseAccountSettingsActivity"
      android:theme="@style/Tasks" />

    <activity
      android:name=".opentasks.OpenTaskAccountSettingsActivity"
      android:theme="@style/Tasks" />

    <activity
      android:name=".caldav.CaldavCalendarSettingsActivity"
      android:theme="@style/Tasks"/>

    <activity
      android:name=".caldav.LocalListSettingsActivity"
      android:theme="@style/Tasks"/>

    <activity
      android:name=".opentasks.OpenTasksListSettingsActivity"
      android:theme="@style/Tasks"/>

    <activity
      android:name=".activities.PlaceSettingsActivity"
      android:theme="@style/Tasks" />

    <activity android:name=".activities.GoogleTaskListSettingsActivity"/>

    <activity
      android:name="com.todoroo.astrid.gtasks.auth.GtasksLoginActivity"
      android:theme="@style/TranslucentDialog"/>

    <activity
      android:name=".drive.DriveLoginActivity"
      android:theme="@style/TranslucentDialog" />

    <activity
      android:name=".voice.VoiceCommandActivity"
      android:theme="@style/TranslucentDialog"
      android:taskAffinity=""
      android:excludeFromRecents="true"
      android:exported="true"
      android:permission="com.google.android.gm.permission.AUTO_SEND">
      <intent-filter>
        <action android:name="com.google.android.gm.action.AUTO_SEND"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="com.google.android.voicesearch.SELF_NOTE" />
        <data android:mimeType="*/*"/>
      </intent-filter>
    </activity>

    <receiver
        android:name=".receivers.BootCompletedReceiver"
        android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED"/>
      </intent-filter>
    </receiver>

    <receiver
        android:name=".receivers.ScheduleExactAlarmsPermissionReceiver"
        android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.SCHEDULE_EXACT_ALARM_PERMISSION_STATE_CHANGED" />
      </intent-filter>
    </receiver>

    <receiver android:name=".receivers.CompleteTaskReceiver"/>

    <receiver
        android:name=".receivers.MyPackageReplacedReceiver"
        android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
      </intent-filter>
    </receiver>

    <service
      android:exported="false"
      android:name=".receivers.RefreshReceiver"
      android:permission="android.permission.BIND_JOB_SERVICE"/>

    <service
      android:exported="false"
      android:name=".scheduling.NotificationSchedulerIntentService"
      android:permission="android.permission.BIND_JOB_SERVICE"/>

    <receiver android:name=".notifications.NotificationClearedReceiver"/>

    <service
      android:exported="false"
      android:name=".locale.receiver.TaskerIntentService"
      android:permission="android.permission.BIND_JOB_SERVICE"/>

    <receiver android:name=".location.AndroidGeofenceTransitionIntentService$Broadcast"/>
    <service
      android:exported="false"
      android:name=".location.AndroidGeofenceTransitionIntentService"
      android:permission="android.permission.BIND_JOB_SERVICE"/>

    <!-- DashClock extension -->

    <service
      android:icon="@drawable/ic_check_white_24dp"
      android:label="@string/app_name"
      android:name=".dashclock.DashClockExtension"
      android:exported="true"
      android:permission="com.google.android.apps.dashclock.permission.READ_EXTENSION_DATA">
      <intent-filter>
        <action android:name="com.google.android.apps.dashclock.Extension"/>
      </intent-filter>

      <meta-data
        android:name="protocolVersion"
        android:value="2"/>
      <meta-data
        android:name="worldReadable"
        android:value="true"/>
      <meta-data
        android:name="description"
        android:value="Display a count of active tasks"/>
      <meta-data
        android:name="settingsActivity"
        android:value="org.tasks.dashclock.DashClockSettings"/>
    </service>

    <activity
      android:exported="true"
      android:name=".dashclock.DashClockSettings"/>

    <service
      android:name=".widget.TileService"
      android:icon="@drawable/ic_check_black_24dp"
      android:label="@string/action_new_task"
      android:exported="true"
      android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
      <intent-filter>
        <action
          android:name="android.service.quicksettings.action.QS_TILE"/>
      </intent-filter>
    </service>

    <!-- Tasker/Locale -->

    <activity
      android:enabled="true"
      android:exported="true"
      android:icon="@mipmap/ic_launcher_blue"
      android:label="@string/tasker_create_task"
      android:name=".locale.ui.activity.TaskerCreateTaskActivity"
      android:theme="@style/Tasks"
      android:uiOptions="splitActionBarWhenNarrow"
      android:windowSoftInputMode="adjustResize"
      android:resizeableActivity="true"
      tools:ignore="ExportedActivity">
      <intent-filter>
        <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING"/>
      </intent-filter>
    </activity>

    <activity
      android:exported="false"
      android:label="@string/tasker_list_notification"
      android:name=".locale.ui.activity.TaskerSettingsActivity"
      android:theme="@style/Tasks"
      android:uiOptions="splitActionBarWhenNarrow"
      android:windowSoftInputMode="adjustResize"/>

    <activity-alias
      android:enabled="true"
      android:exported="true"
      android:icon="@mipmap/ic_launcher_blue"
      android:label="@string/tasker_list_notification"
      android:name="com.twofortyfouram.locale.example.setting.toast.ui.activity.PluginActivity"
      android:targetActivity=".locale.ui.activity.TaskerSettingsActivity"
      tools:ignore="ExportedActivity">
      <intent-filter>
        <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING"/>
      </intent-filter>
    </activity-alias>

    <receiver
      android:enabled="true"
      android:exported="true"
      android:name=".locale.receiver.FireReceiver"
      tools:ignore="ExportedReceiver">
      <intent-filter>
        <action android:name="com.twofortyfouram.locale.intent.action.FIRE_SETTING"/>
      </intent-filter>
    </receiver>

    <receiver android:name="org.tasks.jobs.NotificationReceiver" />

    <activity
        android:name="com.todoroo.astrid.activity.MainActivity"
        android:exported="true"
        android:launchMode="singleTask"
        android:theme="@style/Tasks"
        android:windowSoftInputMode="adjustResize">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
      </intent-filter>
    </activity>

    <activity
      android:name=".widget.WidgetClickActivity"
      android:excludeFromRecents="true"
      android:launchMode="singleTask"
      android:taskAffinity=""
      android:theme="@style/TranslucentDialog"/>

    <activity android:name=".tags.TagPickerActivity" />

    <activity
      android:name=".etebase.EtebaseCalendarSettingsActivity"
      android:theme="@style/Tasks" />

    <activity
      android:name=".preferences.MainPreferences"
      android:theme="@style/Tasks" />

    <activity
      android:name=".preferences.HelpAndFeedback"
      android:theme="@style/Tasks" />

    <activity
      android:name=".preferences.NotificationPreferences"
      android:exported="true"
      android:theme="@style/Tasks">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.NOTIFICATION_PREFERENCES" />
      </intent-filter>
    </activity>

      <activity android:name="org.tasks.sync.microsoft.MicrosoftListSettingsActivity" />

      <activity
          android:name="org.tasks.dialogs.SortSettingsActivity"
          android:theme="@style/TranslucentWindow" />

    <activity
        android:name="org.tasks.repeats.CustomRecurrenceActivity"
        android:theme="@style/Tasks" />

    <!-- launcher icons -->

    <activity-alias
      android:enabled="true"
      android:icon="@mipmap/ic_launcher_blue"
      android:name="com.todoroo.astrid.activity.TaskListActivity"
      android:roundIcon="@mipmap/ic_launcher_blue"
      android:exported="true"
      android:targetActivity="com.todoroo.astrid.activity.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>

      <meta-data
        android:name="android.app.shortcuts"
        android:resource="@xml/shortcuts" />
    </activity-alias>

    <activity-alias
      android:enabled="false"
      android:icon="@mipmap/ic_launcher_blue_grey"
      android:name="com.todoroo.astrid.activity.TaskListActivity.BlueGrey"
      android:roundIcon="@mipmap/ic_launcher_blue_grey"
      android:exported="true"
      android:targetActivity="com.todoroo.astrid.activity.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>

      <meta-data
        android:name="android.app.shortcuts"
        android:resource="@xml/shortcuts" />
    </activity-alias>

    <activity-alias
      android:enabled="false"
      android:icon="@mipmap/ic_launcher_dark_grey"
      android:name="com.todoroo.astrid.activity.TaskListActivity.DarkGrey"
      android:roundIcon="@mipmap/ic_launcher_dark_grey"
      android:exported="true"
      android:targetActivity="com.todoroo.astrid.activity.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>

      <meta-data
        android:name="android.app.shortcuts"
        android:resource="@xml/shortcuts" />
    </activity-alias>

    <activity-alias
      android:enabled="false"
      android:icon="@mipmap/ic_launcher_red"
      android:name="com.todoroo.astrid.activity.TaskListActivity.Red"
      android:roundIcon="@mipmap/ic_launcher_red"
      android:exported="true"
      android:targetActivity="com.todoroo.astrid.activity.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>

      <meta-data
        android:name="android.app.shortcuts"
        android:resource="@xml/shortcuts" />
    </activity-alias>

    <activity-alias
      android:enabled="false"
      android:icon="@mipmap/ic_launcher_pink"
      android:name="com.todoroo.astrid.activity.TaskListActivity.Pink"
      android:roundIcon="@mipmap/ic_launcher_pink"
      android:exported="true"
      android:targetActivity="com.todoroo.astrid.activity.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>

      <meta-data
        android:name="android.app.shortcuts"
        android:resource="@xml/shortcuts" />
    </activity-alias>

    <activity-alias
      android:enabled="false"
      android:icon="@mipmap/ic_launcher_purple"
      android:name="com.todoroo.astrid.activity.TaskListActivity.Purple"
      android:roundIcon="@mipmap/ic_launcher_purple"
      android:exported="true"
      android:targetActivity="com.todoroo.astrid.activity.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>

      <meta-data
        android:name="android.app.shortcuts"
        android:resource="@xml/shortcuts" />
    </activity-alias>

    <activity-alias
      android:enabled="false"
      android:icon="@mipmap/ic_launcher_deep_purple"
      android:name="com.todoroo.astrid.activity.TaskListActivity.DeepPurple"
      android:roundIcon="@mipmap/ic_launcher_deep_purple"
      android:exported="true"
      android:targetActivity="com.todoroo.astrid.activity.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>

      <meta-data
        android:name="android.app.shortcuts"
        android:resource="@xml/shortcuts" />
    </activity-alias>

    <activity-alias
      android:enabled="false"
      android:icon="@mipmap/ic_launcher_indigo"
      android:name="com.todoroo.astrid.activity.TaskListActivity.Indigo"
      android:roundIcon="@mipmap/ic_launcher_indigo"
      android:exported="true"
      android:targetActivity="com.todoroo.astrid.activity.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>

      <meta-data
        android:name="android.app.shortcuts"
        android:resource="@xml/shortcuts" />
    </activity-alias>

    <activity-alias
      android:enabled="false"
      android:icon="@mipmap/ic_launcher_light_blue"
      android:name="com.todoroo.astrid.activity.TaskListActivity.LightBlue"
      android:roundIcon="@mipmap/ic_launcher_light_blue"
      android:exported="true"
      android:targetActivity="com.todoroo.astrid.activity.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>

      <meta-data
        android:name="android.app.shortcuts"
        android:resource="@xml/shortcuts" />
    </activity-alias>

    <activity-alias
      android:enabled="false"
      android:icon="@mipmap/ic_launcher_cyan"
      android:name="com.todoroo.astrid.activity.TaskListActivity.Cyan"
      android:roundIcon="@mipmap/ic_launcher_cyan"
      android:exported="true"
      android:targetActivity="com.todoroo.astrid.activity.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>

      <meta-data
        android:name="android.app.shortcuts"
        android:resource="@xml/shortcuts" />
    </activity-alias>

    <activity-alias
      android:enabled="false"
      android:icon="@mipmap/ic_launcher_teal"
      android:name="com.todoroo.astrid.activity.TaskListActivity.Teal"
      android:roundIcon="@mipmap/ic_launcher_teal"
      android:exported="true"
      android:targetActivity="com.todoroo.astrid.activity.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>

      <meta-data
        android:name="android.app.shortcuts"
        android:resource="@xml/shortcuts" />
    </activity-alias>

    <activity-alias
      android:enabled="false"
      android:icon="@mipmap/ic_launcher_green"
      android:name="com.todoroo.astrid.activity.TaskListActivity.Green"
      android:roundIcon="@mipmap/ic_launcher_green"
      android:exported="true"
      android:targetActivity="com.todoroo.astrid.activity.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>

      <meta-data
        android:name="android.app.shortcuts"
        android:resource="@xml/shortcuts" />
    </activity-alias>

    <activity-alias
      android:enabled="false"
      android:icon="@mipmap/ic_launcher_light_green"
      android:name="com.todoroo.astrid.activity.TaskListActivity.LightGreen"
      android:roundIcon="@mipmap/ic_launcher_light_green"
      android:exported="true"
      android:targetActivity="com.todoroo.astrid.activity.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>

      <meta-data
        android:name="android.app.shortcuts"
        android:resource="@xml/shortcuts" />
    </activity-alias>

    <activity-alias
      android:enabled="false"
      android:icon="@mipmap/ic_launcher_lime"
      android:name="com.todoroo.astrid.activity.TaskListActivity.Lime"
      android:roundIcon="@mipmap/ic_launcher_lime"
      android:exported="true"
      android:targetActivity="com.todoroo.astrid.activity.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>

      <meta-data
        android:name="android.app.shortcuts"
        android:resource="@xml/shortcuts" />
    </activity-alias>

    <activity-alias
      android:enabled="false"
      android:icon="@mipmap/ic_launcher_yellow"
      android:name="com.todoroo.astrid.activity.TaskListActivity.Yellow"
      android:roundIcon="@mipmap/ic_launcher_yellow"
      android:exported="true"
      android:targetActivity="com.todoroo.astrid.activity.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>

      <meta-data
        android:name="android.app.shortcuts"
        android:resource="@xml/shortcuts" />
    </activity-alias>

    <activity-alias
      android:enabled="false"
      android:icon="@mipmap/ic_launcher_amber"
      android:name="com.todoroo.astrid.activity.TaskListActivity.Amber"
      android:roundIcon="@mipmap/ic_launcher_amber"
      android:exported="true"
      android:targetActivity="com.todoroo.astrid.activity.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>

      <meta-data
        android:name="android.app.shortcuts"
        android:resource="@xml/shortcuts" />
    </activity-alias>

    <activity-alias
      android:enabled="false"
      android:icon="@mipmap/ic_launcher_orange"
      android:name="com.todoroo.astrid.activity.TaskListActivity.Orange"
      android:roundIcon="@mipmap/ic_launcher_orange"
      android:exported="true"
      android:targetActivity="com.todoroo.astrid.activity.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>

      <meta-data
        android:name="android.app.shortcuts"
        android:resource="@xml/shortcuts" />
    </activity-alias>

    <activity-alias
      android:enabled="false"
      android:icon="@mipmap/ic_launcher_deep_orange"
      android:name="com.todoroo.astrid.activity.TaskListActivity.DeepOrange"
      android:roundIcon="@mipmap/ic_launcher_deep_orange"
      android:exported="true"
      android:targetActivity="com.todoroo.astrid.activity.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>

      <meta-data
        android:name="android.app.shortcuts"
        android:resource="@xml/shortcuts" />
    </activity-alias>

    <activity-alias
      android:enabled="false"
      android:icon="@mipmap/ic_launcher_brown"
      android:name="com.todoroo.astrid.activity.TaskListActivity.Brown"
      android:roundIcon="@mipmap/ic_launcher_brown"
      android:exported="true"
      android:targetActivity="com.todoroo.astrid.activity.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>

      <meta-data
        android:name="android.app.shortcuts"
        android:resource="@xml/shortcuts" />
    </activity-alias>

    <activity-alias
      android:enabled="false"
      android:icon="@mipmap/ic_launcher_grey"
      android:name="com.todoroo.astrid.activity.TaskListActivity.Grey"
      android:roundIcon="@mipmap/ic_launcher_grey"
      android:exported="true"
      android:targetActivity="com.todoroo.astrid.activity.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>

      <meta-data
        android:name="android.app.shortcuts"
        android:resource="@xml/shortcuts" />
    </activity-alias>

    <!-- See https://github.com/tasks/tasks/issues/1056 and https://developer.samsung.com/samsung-dex/modify-optimizing.html. -->
    <!-- Version < 3.0. DeX Mode and Screen Mirroring support -->
    <meta-data android:name="com.samsung.android.keepalive.density" android:value="true"/>
    <!-- Version >= 3.0. DeX Dual Mode support -->
    <meta-data android:name="com.samsung.android.multidisplay.keep_process_alive" android:value="true"/>

  </application>

</manifest>
