<manifest
  package="org.tasks"
  xmlns:android="http://schemas.android.com/apk/res/android">

  <!-- ********** -->
  <!-- LeakCanary -->
  <!-- https://github.com/square/leakcanary/issues/1082 -->
  <!-- ********** -->
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

</manifest>
